/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
#AnchorPaneGuideGramma{
    
    -fx-background-image: url("photoOutil.jpg");
        -fx-background-repeat: stretch;   
        -fx-background-size: 1400 1000;
        -fx-background-position: center center;
}

#AnchorPaneLoadPDF{
    -fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.7 , 0 , 1 );
    -fx-opacity: 0.8;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}





#btnCharger {
    -fx-background-color: 
        rgba(0,0,0,0.08),
        linear-gradient(#5a61af, #51536d),
        linear-gradient(#e4fbff 0%,#cee6fb 10%, #a5d3fb 50%, #88c6fb 51%, #d5faff 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    
    -fx-text-fill: #242d35;
    -fx-font-size: 14px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

#btnCharger:hover {
    -fx-background-color: 
        rgba(0,0,0,0.08),
        linear-gradient(#5a61af, #51536d),
        linear-gradient(#e4fbff 0%,#cee6fb 10%, #a5d3fb 50%, #88c6fb 51%, #d5faff 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    
    -fx-text-fill: #242d35;
    -fx-font-size: 14px;
    -fx-opacity: 0.7;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

#btnRetour {
    -fx-background-color: 
        #c3c4c4,
        linear-gradient(#d6d6d6 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.5 , 0 , 1 );
}

#btnRetour:hover {
    -fx-background-color: 
        #c3c4c4,
        linear-gradient(#d6d6d6 50%, grey 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-opacity: 0.7;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.5 , 0 , 1 );
}

#columnGrpNomin{
    
    -fx-alignment: BASELINE_CENTER;
    
}

#columnVerbes{
    
    -fx-alignment: BASELINE_CENTER;
    
}

#columnPhrases{
    
    -fx-alignment: BASELINE_CENTER;
    
}


#tableViewGrpNomin{
    
    -fx-border-color: grey;
}

#tableViewVerbes{
    
    -fx-border-color: grey;
}

#tableViewPhrases{
    
    -fx-border-color: grey;
}