/*
 * Empty Stylesheet file.
 */

/*
    The tab bar
*/

.jfx-tab-pane .headers-region {
    -fx-background-color: #1b75bc;
}
.jfx-tab-pane .tab-header-background {
    -fx-background-color: #1b75bc;
}
.jfx-tab-pane .tab-selected-line {
    -fx-stroke: #75bc1b;
    -fx-stroke-width: 3pt;
}

.list-view .list-cell:even {
-fx-text-fill: black;
-fx-alignment: BASELINE_CENTER;
}
.list-view .list-cell:odd {
-fx-text-fill: black;
-fx-alignment: BASELINE_CENTER;
}

#btnRetour:hover{
    -fx-background-color: 
        #c3c4c4,
        linear-gradient(#d6d6d6 50%, grey 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-opacity : 0.8;
}

#btnRetour{
    -fx-background-color: 
        #c3c4c4,
        linear-gradient(#d6d6d6 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    
    
}

