/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

#imgExercices:hover{
   -fx-opacity: 0.7;
   -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.5 , 0 , 1 );
}

#imgDecouvrir:hover{
   -fx-opacity: 0.7;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.5 , 0 , 1 );
}

#imgApprendre:hover{
   -fx-opacity: 0.7;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.5 , 0 , 1 );
}

#imgApprendre{
   
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.5 , 0 , 1 );
}

#imgDecouvrir{
   
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.5 , 0 , 1 );
}

#imgExercices{
   
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.5 , 0 , 1 );
}


#btnRetour:hover{
    -fx-background-color: 
        #c3c4c4,
        linear-gradient(#d6d6d6 50%, grey 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-opacity : 0.8;
}

#btnRetour{
    -fx-background-color: 
        #c3c4c4,
        linear-gradient(#d6d6d6 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    
    
}