/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
#AnchorPaneAccueilExos{

    -fx-background-image: url("photoExercice.jpg");
        -fx-background-repeat: stretch;   
        -fx-background-size: 1000 1000;
        -fx-background-position: center center;
}

#AnchorPaneAffichageTypeExos{
    -fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.7 , 0 , 1 );
    -fx-opacity: 0.8;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

#anchorPaneUnExo{
     -fx-background-color: 
        #3c7fb1,
        linear-gradient(#fafdfe, #e8f5fc),
        linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-opacity:0.8;
}

#anchorPaneUnExo:hover{
     -fx-background-color: 
        #3c7fb1,
        linear-gradient(#fafdfe, #e8f5fc),
        linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-opacity:0.6;
}

#btnRetour:hover{
    -fx-background-color: 
        #c3c4c4,
        linear-gradient(#d6d6d6 50%, grey 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-opacity : 0.8;
}

#btnRetour{
    -fx-background-color: 
        #c3c4c4,
        linear-gradient(#d6d6d6 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    
    
}